---
import Layout from '../../layouts/uz/Layout.astro';
---

<Layout title='Navoiyuran - rivojlanish tarixi'>
  <h2 class="font-semibold text-lg lg:text-3xl mb-10 text-center my-3 md:my-8 lg:my-14">Rivojlanish tarixi</h2>
</Layout>